# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\JAVA-projection\com.javaproject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
